body {
    margin: 0;
    padding: 0;
    background-color: #222831;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ddddddc5;
}

main {
    width: 70%;
    margin: 30px auto;
}

h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
}

h5 {
    margin: 0;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 120%;
}

p {
    font-size: 100%;
    word-spacing: 2px;
}

code {
    color: #fb743e;
    font-size: 90%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    padding: 30px;
    border: 1px #fb743e solid;
    margin: 10px;
    text-align: center;
    font-size: 150%;
}

.grid-item-website {
    padding: 30px;
    border: 1px #fb743e solid;
    margin: 10px;
    text-align: center;
    font-size: 150%;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container-5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-container-justify {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid #FF3D00;
    padding: 40px 40px;
}

.grid-container-align {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid #FF3D00;
    padding: 20px 20px;
    height: 40%;
}

.grid-container-6 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    border: 1px solid #FF3D00;
}

.grid-container-7 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    border: 1px solid #FF3D00;
}

.grid-container-8 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    border: 1px solid #FF3D00;
}

.grid-container-9 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    border: 1px solid #FF3D00;
}

.grid-container-10 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    border: 1px solid #FF3D00;
}

.grid-container-11 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    border: 1px solid #FF3D00;
}

.grid-col {
    grid-column: 1/4;
}

.grid-r {
    grid-row: 2/4;
}

.grid-area {
    grid-area: 2/2/4/4;
}

.grid-col-header {
    grid-column: 1/6;
}

.grid-row-menu {
    grid-row: 2/5;
}

.grid-area-main {
    grid-area: 2/2/4/5;
}

.grid-col-footer {
    grid-column: 2/6;
}

.text {
    padding: 0px 30px;
}

.inner-text {
    padding: 0px 60px;
}

.special-hr {
    width: 50%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 80px auto;
}

.footer-hr {
    width: 100%;
    border: 0;
    height: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 50px auto;
}

pre {
    width: 100%;
}

code {
    width: 100%;
}

.btn {
    padding: 10px 20px;
    color: #FF3D00;
    background-color: transparent;
    font-size: 80%;
    letter-spacing: 3px;
    font-weight: 300;
    border: 2px solid #FF3D00;
    border-radius: 220px;
    transition: 0.3s;
    margin: 0px auto;
    outline: none;
    
}

.btn:hover {
    color: white;
    background-color: #ff3c00d2;
    cursor: pointer;
}

.btn-justify {
    padding: 10px 20px;
    color: #FF3D00;
    background-color: transparent;
    font-size: 80%;
    letter-spacing: 3px;
    font-weight: 300;
    border: 2px solid #FF3D00;
    border-radius: 220px;
    transition: 0.3s;
    margin: 0px auto;
    outline: none;
    margin: 0 10px;
}

.btn-justify:focus,
.btn-justify:hover {
    color: white;
    background-color: #ff3c00d2;
    cursor: pointer;
}

.btn-reset-justify,
.btn-reset-align{
    padding: 10px 20px;
    color: #FF3D00;
    background-color: transparent;
    font-size: 80%;
    letter-spacing: 3px;
    font-weight: 300;
    border: 2px solid #FF3D00;
    border-radius: 220px;
    transition: 0.3s;
    margin: 0px auto;
    outline: none;
    margin: 0 10px;
}

.btn-reset-justify:hover,
.btn-reset-align:hover{
    color: white;
    background-color: #ff3c00d2;
    cursor: pointer;
}

.background-head {
    background-image: url(/CSS-GRIDS/images/space-bg.PNG);
    background-size: cover;
}

.logo {
    width: 180px;
    float: left;
}

.list {
    float: right;
    width: 400px;
    margin-top: -20px;
    margin-right: -20px;
}

.menu {
    width: 180px;
    float: left;
}

.main-text {
    font-size: 70%;
    text-align: center;
    color: #fc511d;
}

.gamepad {
    width: 25px;
}

.footer {
    width: 60%;
}


.github-link{
    font-size: 120%;
    text-decoration: none;
    color:#FF3D00;
}

.footer-text{
    font-size: 110%;
}